<div id="newCmp">
  <div id="drop-zone">
    <p class="desc">ここに音声をドロップ</p>
  </div>

  <div class="val-zone">
    <div class="labl">言語</div>
    <div class="value">
      <select id="lang">
        <option value="ja-JP" selected>日本語</option>
        <option value="en-US">英語(US)</option>
      </select>
    </div>
  </div>

  <div class="val-zone">
    <div class="labl">人数</div>
    <div class="value">
      <select id="number">
        <option value="1">1人</option>
        <option value="2" selected>2人</option>
        <option value="3">3人</option>
        <option value="4">4人</option>
        <option value="5">5人</option>
      </select>
    </div>
  </div>

  <input type="submit" value="登録" id="upload" />
</div>
